body {
    background: black;
    text-align: center;
  }
  
  h1 {
    color:#FFF;
    font-family:'Oswald';
    font-weight:700;
    position:relative;  
    margin:30px auto;
    text-transform:uppercase;
  }

  h1::before {
    content: url(CircleLinks2.jpg);
    background: black;
    width: 10px;
    height: 10px;
  }

h1::after {
    content: url(CircleRechts2.jpg);
    background: black;
    width: 10px;
    height: 10px;
}